/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [bid]
      ,[username]
      ,[password]
      ,[email]
      ,[mobileno]
      ,[datetime]
  FROM [Buyer].[dbo].[Buyer]
  delete from buyer where bid=4526;